* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color: #aaaaaa;
  flex-direction: column;
}
.header {
  font-size: calc(5vw + 5vh);
  margin-top: 50px;
}